<!DOCTYPE html>
<html>
    <title>
        
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    </head>
    <body>
      <div class="container">
    <div style="text-align: center; margin: 6%">
      <a id="link" href="/about">About Me</a>
      <a id="link" href="/myprojects">My Projects</a>
      <a id="link" href="/resume">Resume</a>
      <div class="header">
  <h1 style="font-family: 'Merriweather', serif;" class="display-4"><strong>Hello!</strong></h1>
  <h1 style="font-family: 'Merriweather', serif;" class="display-4"><strong>My Name is Wade Kemmsies</strong></h1>
  
</div>

</div>
  <p id="desc"><i style="font-size: 120px; margin: 3%" class="fas fa-laptop-code"></i>
    <br>Full Stack Web Developer & Web Designer. 
  <br>Very passioniate about building top notch web applications
  and <br> problem solving web-based problems. </p>
</div>
  </body>
  </html>