<!DOCTYPE html>
<html>
    <title>
        
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    </head>
    <body>
      <div style="color: white" class="container">
    <div style="text-align: center; margin: 8%">
      <a id="link" href="/about">About Me</a>
      <a id="link" href="/myprojects">My Projects</a>
      <a id="link" href="/resume">Resume</a>
      <div style="margin-top: 5%" class="header">
</div>
<h1 style="font-family: 'Merriweather', serif" class="display-4"><strong>Projects</strong></h1>
<div style="background-color: black; margin-top: 3%; padding: 3%">
    
    <br>
    <a href="http://colorguessinggame.esy.es">
    <img src="https://i.ibb.co/2hr081x/guess.png" width="250" height="250">
</a>
<br><br>
<a style="color:white" href="http://colorguessinggame.esy.es">
    <h3>Color Guessing Game</h3></a>
    <p>The RGB Color Guessing Game. Users have to guess the correct color by clicking on the 
        squares based on the randomly generated RBG value given. Resetable with Easy and Hard 
        difficulty modes. Developed with HTML, CSS, JavaScript and DOM manipulation.  
    </p>
    <hr>
    <a href="http://wadestodolist.hol.es">
        <img src="https://i.ibb.co/9Nq5W9s/todolist.png" width="250" height="250">
    </a>
    <br><br>
<a style="color:white" href="http://wadestodolist.hol.es">
    <h3>To-Do List</h3></a>
    <p>My To-Do List. Allows users the ability to enter, cross-off, and delete text with some slick animation. 
        Built using HTML, CSS, Bootstrap, and jQuery.
        </p>
        <hr>
    <a href="http://yelpcamp.xyz">
        <img src="https://i.ibb.co/mt6w4hs/yelpcamp.png" width="250" height="250">
    </a>
    <br><br>
<a style="color:white" href="http://yelpcamp.xyz">
    <h3>YelpCamp</h3></a>
    <p>A simple application where users can view campgrounds and their information, and also add there own campgrounds.
       Included user authentication and commments, connected to a database. Built with HTML, CSS, JavaScript, Node.js,
       Express.js, MongoDb/Mongoose.  
        </p>
</div>
</div>