<!DOCTYPE html>
<html>
    <title>
        
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    </head>
    <body>
      <div class="container">
    <div style="text-align: center; margin: 8%">
      <a id="link" href="/about">About Me</a>
      <a id="link" href="/myprojects">My Projects</a>
      <a id="link" href="/resume">Resume</a>
      <div style="margin-top: 5%" class="header">
</div>
</div>
<div style="font-family: 'Merriweather', serif; background-color: white; text-align: center">
    <h1 style="color: #1a1f28; padding-top: 20px" class="display-4"><strong>Wade Kemmsies</strong></h1>
    <p class="lead">Full Stack Web Developer & Designer
      <br>302 W 235 N Wellsville, UT 84339
      <br>435-339-7187
      <br>wadekemmsies21@gmail.com
    </p>
    <hr>
    <div style="padding-left: 2%; padding-top: 3%; text-align: left">
      <h3>Technologies & Skills</h3>
      <p><strong>Front End:</strong> HTML/HTML5, CSS/CSS3, JavaScript (plus DOM Manipulation), AngularJS, Bootstrap, jQuery, </p>
      <p><strong>Back End:</strong> PHP, mySQL, Node.js, Express.js, MongoDB/Mongoose APIs, JSON</p>
      <p><strong>Others: </strong> Git, C++, Java</p>
      <hr>
      <h3>Experience</h3>
      <ul>
        <li>2 years+ of web development experience & learning</li>
        <li>1+ year working as a Freelance Developer</li>
        <li>Positive reviews toward finished products</li>
        <li>Used to working under strict deadlines</li>
      </ul>
      <hr>
      <h3>Education</h3>
      <br>
      <h5 style="font-style: italic">Grand County High School</h5>
      <p>2010-2014 - Diploma</p>
      <h5 style="font-style: italic">Utah State University</h5>
      <p>2016 - present</p>
      <ul>
        <li>2 years of USU Computer Science credits</li>
      </ul>
      <hr>
      <h3>Portfolio</h3>
      <a href="http://google.com">BitBucket (Git Repository Hosting Service)</a>
      <br>
      <br>
    </div>
</div>
</div>
  </body>
  </html>