/* p {
    margin-top: 45%;
    text-align: center;
} */

h1 {
    font-family: 'Merriweather', serif;
}

/* .container {
    background-image: url('https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); 
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 4%;
    padding-bottom: 25%;
} */

.header {
    margin-top: 10%;
    color: white;
    text-align: center;
}

#link {
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 100%;
    margin-left: 0 auto;
    text-align: center;
}

#link:hover {
    text-decoration: none;
    border: 0.1rem solid white;
  }

#otherlink {
    color: white;
    background-color: grey;
    padding: 20px;
    font-size: 20px;
    border-radius: 100%; 
    margin-left: 0 auto;
}  

#otherlink:hover {
    text-decoration: none;
  }

html {
    height: 100%;
}

hr {
    margin: 2%
}

body {
    height: 100%;
    background-image: radial-gradient(black, #333333);
    background-size: 100%;
}

#desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center; 
    font-size: 25px;
    /* background-color: black; */
    color: white;
    padding: 2%;
}

 .jumbotron {
    /* background-image: url('https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); 
    background-size: cover; */
    text-align: center; 
    color: white
 }


